<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <h1>Hotel Management ERP</h1>

    <div class="button-container">
        <a href="/AddGuest.html" target="_blank"> <button>Add Guest</button></a>
        <a href="/AddRoom.html" target="_blank"><button>Add Room</button></a>
        <a href="/available.html" target="_blank"><button>Check Availability</button></a>
        <a href="/ViewBooking.html" target="_blank"> <button>View Bookings</button></a> 
        <a href="/BookRoom.html" target="_blank"> <button>Book Room</button></a>
    </div>    
</body>

</html>